.container {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 58rem;
  /* background-color: #efefef; */
  padding: 0rem 6vw;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contentContainer {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.InnerContentContainer {
  margin-bottom: 1.6rem;
}

.subtitle {
  letter-spacing: -0.03rem;
  /* display: inline-block; */
  font-size: 1.85rem;
  transform: scaleY(0.7);
  transform-origin: 0rem 0rem;
  font-weight: 400;
  -ms-transform-origin: bottom;
}

.title {
  font-size: 1.9rem;
  margin-bottom: 2rem;
  font-weight: 700;
  transform: scaleY(1.3);
}

.content {
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 2rem;
}