.container {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 60rem;
  background-color: #efefef;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contentContainer {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.InnerContentContainer {
  margin-bottom: 3rem;
}

.subtitle {
  /* letter-spacing: 0.2rem;
  display: inline-block; */
  font-size: 1.7rem;
  transform: scaleY(1);
  transform-origin: 0rem 0rem;
  font-weight: 900;
}

.titleWrapper {
  margin-bottom: 2.5rem;
}

.title {
  font-size: 3.31rem;
  transform: scaleY(1.2);
  font-weight: 700;
}

.content {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.03rem;
}

.tabList {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 6.5rem;
}

.tab {
  /* margin-right: 2rem; */
  padding: 1rem 0.8rem;
  background: none;
  border: none;
  font-size: 1.1rem;
  font-weight: 900;
  letter-spacing: -0.05rem;
}

.tab .text {
  color: black;
  transform: scaleY(1.5);
}

.underlineWrapper {
  margin-top: 0.5rem;
}

.underline {
  height: 0.2rem;
  background: black;
}

@media (max-width: 768px) {
  .container {
    position: relative;
    display: block;
    background-color: rgba(0, 0, 0, 0.099);
    overflow: hidden;
  }

  .contentContainer {
    justify-content: center;
    padding: 3rem;

    z-index: 1;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .image{
    filter: brightness(50%);
  }

}