.instaContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.instaItem {
  aspect-ratio: 1;
  height: 100%;
  position: relative;
  cursor: pointer;
}

.instaItem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.instaOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* semi-transparent black */
  opacity: 0;
  /* initially hidden */
  transition: opacity 0.5s ease;
  color: white;
}

.instaItem:hover .instaOverlay {
  opacity: 1;
}

.modal {
  position: fixed;
  top: 0rem;
  left: 0rem;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.88);
  z-index: 1;

  align-items: center;
  display: none;
  justify-content: center;
}

.modal.show {
  /* display: block; */
  display: flex;
}

.thunmnailDiv {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  background: white;
  width: 70%;
  height: 90%;
  margin: 0 auto;
  /* max-width: 85rem; */
  border-radius: 2rem;
  /* display: flex; */
  overflow: hidden;
  /* aspectRatio:1; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "item1 item2"
    "item1 item3";
  grid-template-rows: min-content 1fr;
}

.modalImageDiv {
  grid-area: item1;
}

.instaUsername {
  grid-area: item2;
  height: 7rem;
}

.modalContentDiv {
  grid-area: item3;
}

.navContainer {
  grid-area: item4;
}

/* .modalImageDiv,
.modalContentDiv {
  flex: 1;
} */

.modalImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.modalContent {

  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}

.instaUsername {
  display: flex;
  padding: 1.2rem 1.2rem 1.6rem 1.2rem;
  gap: 1rem;
  align-items: center;
}

.instaUsername .icon {
  border: 0.1rem solid #808080;
  border-radius: 50%;
  padding: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.usernameDiv {
  flex: 1;
  align-self: center;
}

.username {
  font-size: 2.34rem;
  transform: scaleY(1.1);
}

.closeBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cross {
  width: 2.4rem;
}

.content {
  flex: 1;
  padding: 10rem 3rem 3rem 3rem;
  text-align: center;
  color: gray;
  font-size: 1.8rem;
}

.instaLink {
  padding: 0.7rem;
  color: gray;
  font-size: 1.3rem;
  border-top: 0.1rem solid #dedede;
}

.navContainer {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 4rem;
}




@media (max-width: 1020px) {
  .instaContainer {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .modalContainer {
    width: 85%;
    height: 90%;
  }
}

@media (max-width: 856px) {
  .instaContainer {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .modalContainer {
    grid-template-columns: 1fr;
    grid-template-areas: "item2 item2"
      "item1 item1"
      "item4 item4"
      "item3 item3";
    grid-template-rows: min-content min-content 1fr;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    height: auto;
    max-height: 90vh;
  }

  .modalContainer::-webkit-scrollbar {
    display: none;
  }

  .modalImageDiv {
    aspect-ratio: 1;
  }

  .instaUsername {
    padding: 1.2rem 2.2rem;
  }

  .content {
    padding: 2rem 3rem 3rem 3rem;
  }

  .navContainer {
    position: relative;
    color: #222;
    font-size: 3rem;
  }
}

@media (max-width: 550px) {
  .instaContainer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .instaUsername {
    padding: 1.2rem 1.8rem;
    /* height: 6rem; */
  }
}

/* @media (max-width:425px) {} */