.swiperContainer {
  position: relative;
  padding: 0rem 6vw;
}

.swiperButtonPrev,
.swiperButtonNext {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  /* Adjust as needed */
  color: white;
  /* Adjust as needed */
  padding: 1rem;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.3s ease;
}

.swiperButtonPrev {
  left: 7vw;
}

.swiperButtonNext {
  right: 7vw;
}

.swiperContainer:hover .swiperButtonPrev,
.swiperContainer:hover .swiperButtonNext {
  opacity: 1;
}

.swiperButtonPrev:hover,
.swiperButtonNext:hover {
  background-color: rgba(0, 0, 0, 0.8);
  /* Adjust as needed */
}

.innerOccasionContainer {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}

.h2 {
  font-size: 2.64rem;
  text-align: center;
  transform: scaleY(1.3);
}

.card {
  cursor: pointer;
}

.imageContainer {
  width: 100%;
  height: auto;
  background-color: #ededed;
  position: relative;
}

.imageContainer .image {
  width: 100%;
  height: auto;
}

.imageContainer .tag {
  position: absolute;
  background-color: rgba(213, 213, 213, 0.7);
  top: 0.5rem;
  left: 0.5rem;
  padding: 1rem 2rem;
  font-size: 1.32rem;
  font-weight: 400;
  letter-spacing: 0.11rem;
}

.cardContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.6rem;
}

.cardContent .description {
  font-size: 1.35rem;
  font-weight: 400;
  text-align: center;
  color: #777777;
}

.cardContent .title {
  font-size: 1.7rem;
  font-weight: 900;
  text-align: center;
  color: black;
}

.cardContent .price {
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
  color: #636262;
}

.innerNav {
  width: 2rem;
  height: 2rem;
}

.navBtnImage {
  width: 100%;
  height: 100%;
}

.selections {
  margin-top: 0rem;
  text-align: center;
}