.shopContainer {
  /* background-image: url('../../assets/images/asset87.jpeg'); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 0rem 0rem 24rem 0rem;
  margin-bottom: 0rem;
  /* height: 52.2rem; */
}

.shopBG {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.shopBGImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: brightness(90%) contrast(110%);
}

.shopContent {
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%);
}

.h1 {
  font-size: 4em;
  /* letter-spacing: -0.15em; */
  color: #fff;
  font-weight: 700;
  text-wrap: nowrap
}

.secondaryHeaderContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.innerSecondaryHeaderContainer {
  background-color: #463126;
  color: #fff;
  font-size: 1.3em;
  text-align: center;
  padding: 0.5em 0;
  letter-spacing: 0.042em;
  line-height: 2.145em;
  transition: background-color 0.3s ease;
}

@media (max-width: 1024px) {
  .shopContainer {
    padding: 0rem 0rem 22vw 0rem;
    font-size: 90.5%;
  }

  .innerSecondaryHeaderContainer {
    display: none;
  }

  .shopContent {
    top: 52%;
  }
}

@media (max-width: 768px) {
  .shopContainer {
    padding: 0rem 0rem 28vw 0rem;
    font-size: 76%;
  }

  .shopContent {
    top: 60%;
  }

}

/* @media (max-width: 425px) {
  .shopContainer {
    padding: 0rem 0rem 8rem 0rem;
    font-size: 80.5%;
  }

  .shopContent {
    top: 54%;
  }
} */