.heroContainer {
  /* background-image: url('../../assets/images/asset87.jpeg'); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 0rem 0rem 49.5rem 0rem;
}

.heroBG {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.heroBGImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: brightness(85%) contrast(110%);
}

.heroContent {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 8.4rem;
}

.h1 {
  font-size: 5rem;
  letter-spacing: -0.15;
  color: #fff;
  font-weight: 400;
}

.contentWrapper {
  margin-top: 0.6rem;
  color: #fff;
  font-weight: 400;
  letter-spacing: 0.12rem;
}