.secondaryHeaderContainer {
  background-color: #463126;
  color: #fff;
  font-size: 1.3rem;
  text-align: center;
  padding: 1.3rem 0;
  letter-spacing: 0.04;
  line-height: 2.145rem;
  transition: background-color 0.3s ease;
}

.companyLogo {
  height: 2.8rem;
  width: auto;
  transform: scale(1.3);
  cursor: pointer;
}

.primaryHeaderContainerRelative {
  background: transparent;
  color: #fff;
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 4.8rem;*/
  overflow: hidden;
  transition: all 0.3s ease;
}

.primaryHeaderContainerAbsolute {
  background: transparent;
  color: #fff;
  /* display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 0rem 4.8rem;*/
  transition: all 0.3s ease;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
/* 
.primaryHeaderContainerRelative:hover,
.primaryHeaderContainerAbsolute:hover {
  background: white;
  color: black;
} */

.navLinks {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 1rem 4rem;
}

.navLink {
  position: relative;
  /* Required for positioning the ::after element */
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 900;
  color: #fff;
  letter-spacing: 0.06rem;
  padding: 2.5rem 0;
  text-decoration: none;
  transition: all 0.3s ease;
}

.navLink::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #222;
  transition: all 0.3s ease;
}

.navLink:hover::after {
  width: 100%;
}

.dropdownList {
  position: absolute;
  top: 6.5rem;
  left: 0;
  width: 100vw;
  background-color: #fff;
  z-index: 1;
  display: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.navItem:hover .dropdownList {
  display: block;
  opacity: 1;
  visibility: visible;
}

.primaryHeaderContainerRelative:hover .navLink,
.primaryHeaderContainerAbsolute:hover .navLink {
  color: #000;
}

.select {
  background: transparent;
  border: none;
  color: #fff;
}

.primaryHeaderContainerAbsolute:hover .select,
.primaryHeaderContainerAbsolute:hover .select {
  color: black;
}

.select:focus {
  outline: none;
}

.navIcons {
  cursor: pointer;
}

/* .headerBar {
  display: flex;
} */

.search {
  padding: 3rem 4.8rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.headerSlider {
  display: none;
}

.slidingNav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  overflow-y: auto;
  transform: translateX(-100%);
  /* transition: transform 0.5s ease; */
}

.slidingNav.open {
  transform: translateX(0);
}

.slidingNavLinks {
  list-style: none;
  padding: 0;
  margin: 0;
}

.slidingNavLinks li {
  padding: 1rem;
  font-size: 1.5rem;
  color: #222;
  cursor: pointer;
  transition: all 0.3s ease;
}

.slidingNavLinks li:hover {
  color: #fff;
  background-color: #463126;
}

.closeIcon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  color: #222 !important;
}

.menu {
  display: none;
}
.innerHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 4.8rem;
  position: relative;
  z-index: 2;
  transition: all 0.3s ease 0s;
}

@media (max-width: 1024px) {
  .innerHeader {
    padding: 2rem;
  }
  .navLinks {
    display: none;
  }
  .menu {
    display: block;
    flex: 1;
  }
  .companyLogo{
    flex: 1;
    text-align: center;
  }
  .iconsDiv{
    flex: 1;
  }
  .dropdown {
    display: none;
  }
  .headerSlider {
    display: flex;
    justify-content: space-between;
    padding: 1.8rem 3rem;
  }
}
